@media (max-width: 1344px) {
    .heading-primary {
        font-size: 4.4rem;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 56.25%;
    }

    .header-description {
        font-size: 1.8rem;
        margin-bottom: 2.8rem;
    }
}

@media (max-width: 944px) {
    html {
        font-size: 50%;
    }

    .heading-primary {
        font-size: 3.8rem;
    }

    .header-description {
        font-size: 1.4rem;
        margin-bottom: 2.8rem;
    }

    .btn {
        font-size: 1.4rem;
        font-weight: 600;
        padding: 1.4rem 2.8rem;
    }

    .text-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 544px) {
    html {
        font-size: 40%;
    }
}